html, body {
    height: 100%;
    width: 100%;
}

body {
  /*background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);*/ /* Winter 1 */
  background: linear-gradient(45deg, #db6498, #ffdde1);
  background-attachment: fixed;
  /*background-color: #764ba2;*/ /* Winter 1 */
  background-color: #ee9ca7;
  min-width: 100%;
  min-height: 100%;
  margin: 0;
	padding: 0;
  font-family: Arial, sans-serif;
  font-size: 100%;
}

/* MEDIA QUERIES */
@media (max-width: 480px) { /* Media Query for Mobile Devices */
  #title {
    font-size: 3rem;
  }
  #subtitle {
    font-size: 0.8rem;
  }
}

@media (min-width: 481px) and (max-width: 767px) {  /* Media Query for low resolution  Tablets, Ipads */
  #title {
    font-size: 4rem;
  }
  #subtitle {
    font-size: 1rem;
  }
}

@media (max-width: 767px) {
  .window-content {
    width: 300px;
    height: 175px;
  }
  #title-area {
    visibility: hidden;
  }
}

@media (min-width: 768px) and (max-width: 1024px){  /* Media Query for Tablets Ipads portrait mode */
  #title {
    font-size: 5rem;
  }
  #subtitle {
    font-size: 1.2rem;
  }
}

@media (min-width: 768px) {
  .window-content {
    width: 624px;
    height: 351px;
  }
}

@media (min-width: 1025px) {
  #title {
    font-size: 6rem;
  }
  #subtitle {
    font-size: 1.4rem;
  }
}

/* UTILS */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.none {
  display: none;
}


a {
  text-decoration: none;
}

.item a {
  display: inline-table; /* 01/03/2022: To fix outline differences on Firefox https://bugzilla.mozilla.org/show_bug.cgi?id=687311 */
}

::selection {
  background-color: purple;
}

.backward { /* https://stackoverflow.com/a/12180034 */
  display: inline-block;
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

/* DESKTOP */
main {
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
}

main>div {
  margin: 10px;
}

.img-container {
  text-align: center;
  width: 7.5rem; /*120px*/
  height: 7.5rem;
}

.item {
  position: relative; /* For .external-link absolute positionning */
  cursor: pointer;
}

.item img {
  max-width: 100%;
  width: 100%;
  /* filter: drop-shadow(0px 0px 0.3rem #4d4db3); */ /* Winter 1 */
  filter: drop-shadow(0px 0px 0.3rem #ed929e);
}

img.smaller { /* Reduce size of an image */
  margin-top: 0.625rem; /* 120(base size) - 100(smaller size) = 20, to center 20/2=10 */
  width: 6.25rem; /*100px*/
  height: 6.25rem;
}

.item p {
  text-align: center;
  margin: 0px;
  margin-top: 5px;
  margin-bottom: 2px;

  color: white;
}

.item:hover {
  background-color: rgba(230, 230, 230, 0.1);
  /*outline: 1px solid lightgray;*/ /* Winter 1 */
  outline: 1px solid white;
}

/* TITLE */
#title-area {
  /* Center, top: -5% to make it look good on desktop */
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  align-items: center;

  opacity: 0.8;
  color: white;
}

#title-part1 {
  /*color: #E6E6E6;*/ /* Winter 1 */
  color: white;
}

#title-part2 {
}

.glowing {
  /*text-shadow: 0px 2px 18px #9C9C9C;*/ /* Winter 1 */
  text-shadow: 0px 2px 18px #d9d9d9;
}

#subtitle {
}

/* SIDEMENU */
#sidemenu {
  position: fixed;
  right:0;
  top:0;
  height: 100%;

  display: flex;
  flex-direction:column;
  align-items: center;

  background-color: #0c0c0e;
}

.sidemenu-item {
  border-left: 3px solid #0c0c0e;
  padding-right: 10px;
  padding-left: 7px;
  text-align: center;
  cursor: pointer;
}

.sidemenu-item:hover {
  background-color: #363637;
  border-left: 3px solid #363637;
}

.sidemenu-item:active {
  background-color: #1a1a1a;
  border-left: 3px solid #1a1a1a;
}

.sidemenu-item[class~="actived"] {
  /*border-left: 3px solid rgba(230, 230, 230, 0.7);*/ /* Winter 1 */
  border-left: 3px solid rgba(230, 230, 230, 0.9);
}

.sidemenu-item>p {
  font-size: 137.5%;
  line-height: 0.4;
  width: 30.2px;
  height: 8.8px;
}

.external-link {
  position: absolute;
  left: 90px;
  top: 85px;
}

/* WINDOW */
.window {
  /*outline: 2px solid #0c0c0e;*/
  display: inline-block;
  position: absolute;
}

.window-menubar {
  display: block;
  background-color: #0c0c0e; /*#19191d -5% = #0c0c0e*/
  color: #a6a6a6;
  font-size: 14px;
  padding: 4px;
  cursor: default;
}

.window-menubar a {
  color: #a6a6a6;
}

.window-title {
}

.window-btn-quit, .window-btn-source {
  float: right;
  width: 40px;

  text-align: center;
  cursor: pointer;
}

.window-btn-quit:hover {
  background-color: darkred;
}

.window-btn-source:hover {
  background-color: #0F7A9A;
}

.window-btn-source {
  cursor: alias;
}

.window-content {
  background-color: #19191d;
}

.window iframe {
  display: block;
  border: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.no-pointer-events {
  pointer-events: none;
}

/* WINDOW > Terminal */
.terminal {
  -moz-user-select: text;
  -khtml-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;

  background-color: black;
  color: #C0C0C0;
  font-family: monospace;
  overflow-x: hidden;

  width: 100%;
  height: 100%;
}

.terminal-text {
  margin-left: 1px;
  overflow-wrap: break-word;
}

.terminal-text a:focus {
  color: lightblue;
}

.terminal-text-hidden {
  color: black;
}

.terminal-text-hidden::selection {
  color: #C0C0C0;
}

.terminal-input-line {
  background-color: black;
  display: flex;
}

.input-text {
  flex-shrink: 0;
}

.terminal-input {
  background-color: inherit;
  color: inherit;
  font-family: monospace;
  border: none;
  padding: 0px;
  width: 100%;
}

.terminal-input:focus {
    outline:none;
}

.command:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* BLOCK and BREAK */
.blocked {
  cursor: not-allowed;
  opacity: 0.5;
}

.broken {
  opacity: 0.5;
}

/* ANIMATIONS */
@keyframes shaking {
  50% {
    transform: translateX(-1px);
  }
  100% {
    transform: translateX(1px);
  }
}
@-webkit-keyframes shaking {
  50% {
    transform: translateX(-1px);
  }
  100% {
    transform: translateX(1px);
  }
}

.animation-broken {
  animation: shaking 0.2s 2;
  -webkit-animation: shaking 0.2s 2;
  position: relative;
}
